<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ec8b742-bc44-41c4-9b47-30e0e44a7134" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-02-25T18:11:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a0767f54-879a-4c41-8f3c-4455a6a4429a">contentPage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "130fa398-1dd1-4d8c-adfa-fdbb012d09ac",
      "key": "1556e636-24e4-4a11-b6fa-326103b83d4b",
      "udi": null,
      "values": [
        {
          "alias": "choosePage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/9ec8b742bc4441c49b4730e0e44a7134"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1556e636-24e4-4a11-b6fa-326103b83d4b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "1556e636-24e4-4a11-b6fa-326103b83d4b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>