.animate-numbered-list {
  width: 100%;
  height: 100%;
  margin: 5px auto;
}
.animate-numbered-list .align-left * {
  text-align: left;
}
.animate-numbered-list .align-center * {
  text-align: center;
}
.animate-numbered-list .align-right * {
  text-align: right;
}
.animate-numbered-list .align-justified * {
  text-align: justify;
}
.animate-numbered-list .w100 {
  width: 100%;
}
.animate-numbered-list .text-color-primary, .animate-numbered-list html .text-primary {
  color: #00ADD2 !important;
}
.animate-numbered-list .font-weight-extra-bold, .animate-numbered-list .font-weight-black {
  font-weight: 900 !important;
}
.animate-numbered-list .line-height-1 {
  line-height: 1 !important;
}
.animate-numbered-list .text-14 {
  font-size: 4.5em !important;
}
.animate-numbered-list .ls-0 {
  letter-spacing: 0 !important;
}
.animate-numbered-list .font-italic {
  font-style: italic !important;
}
.animate-numbered-list .d-inline-block {
  display: inline-block !important;
}
.animate-numbered-list .font-weight-bold, .animate-numbered-list b, .animate-numbered-list strong {
  font-weight: 700 !important;
}
.animate-numbered-list .text-5 {
  font-size: 1.5em !important;
}
.animate-numbered-list .pl-1, .animate-numbered-list .px-1 {
  padding-left: 0.25rem !important;
}
.animate-numbered-list .mb-2, .animate-numbered-list .my-2 {
  margin-bottom: 0.5rem !important;
}
.animate-numbered-list h4 {
  font-weight: 700 !important;
  text-align: left;
  color: #212529;
  font-size: 2.2em;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 27px;
  margin: 0 0 14px 0;
}
