<?xml version="1.0" encoding="utf-8"?>
<DataType Key="476f7c18-363d-4785-8be0-087fe9a263c1" Alias="Home - Content - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Home - Content - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "130fa398-1dd1-4d8c-adfa-fdbb012d09ac",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12,
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>