@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Forms.Web
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    @await RenderSectionAsync("head", required: false)
</head>
<body data-path-to-root="./" data-lang="en">
    <div class="content">
        @RenderBody()
    </div>
    @Html.RenderUmbracoFormDependencies(Url, new { @async = "async", defer = "defer" })

    @await RenderSectionAsync("footer", required: false)
</body>
</html>