<div ng-controller="LazyLoad.DashboardController as vm">
  <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

  <div class="umb-dashboard-header">
    <h1>Lazy Load Settings</h1>
  </div>

  <div class="umb-box" ng-if="!vm.loading">
    <div class="umb-box-content">
      <div class="control-group">
        <label class="control-label">Enabled</label>
        <div class="controls">
          <umb-toggle ng-model="vm.settings.enabled"></umb-toggle>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Lazy Load Iframes</label>
        <div class="controls">
          <umb-toggle ng-model="vm.settings.lazyLoadIframes"></umb-toggle>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Placeholder</label>
        <div class="controls">
          <input type="text" class="umb-editor umb-textstring" ng-model="vm.settings.placeholder" />
        </div>
      </div>
      <button class="umb-button__button btn-success" ng-click="vm.save()">Save Settings</button>
    </div>
  </div>
</div>
