################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/.vs
/**/bin/
/**/umbraco/DATA/*
/**/App_Data/*
/**/umbraco/Logs
/**/obj/Debug/*
/**/obj/Debug/**/
/**/obj/Release/*
/**/obj/Release/**/
/**/obj/x64/*
/*/obj/Debug/*/
/*/bin/Debug/*/
/**/obj/project.nuget.cache
/**/obj/*.csproj.nuget.dgspec.json
/**/obj/*.csproj.nuget.g.props
/**/obj/*.csproj.nuget.g.targets
/**/node_modules/
#!/**/obj/project.assets.json
*.zip