<div ng-controller="PhotoGallery.DashboardController as vm">
  <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

  <div class="umb-dashboard-header">
    <h1>Photo Gallery</h1>
  </div>

  <div class="umb-box" ng-repeat="album in vm.albums">
    <div class="umb-box-header">
      <h2>{{album.title}}</h2>
      <p>{{album.description}}</p>
    </div>
    <div class="umb-box-content">
      <div class="photo-grid">
        <div class="photo-thumb" ng-repeat="photo in album.photos">
          <img ng-src="{{photo.thumbnailUrl || photo.imageUrl}}" alt="{{photo.title}}" />
          <span>{{photo.caption}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
