<div ng-controller="ExifController as vm" class="umb-dashboard exif-plugin">
  <div class="umb-box">
    <div class="umb-box-header">
      <h2>EXIF Metadata Viewer</h2>
    </div>
    <div class="umb-box-content">

      <div class="row-fluid">
        <div class="span6">
          <h4>Look up by Media Key</h4>
          <div class="control-group">
            <label>Media Key (GUID)</label>
            <input type="text" ng-model="vm.mediaKey" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" class="input-xlarge" />
          </div>
          <button class="btn btn-primary" ng-click="vm.lookupByKey()">Get EXIF</button>
        </div>
        <div class="span6">
          <h4>Look up by File Path</h4>
          <div class="control-group">
            <label>Physical File Path</label>
            <input type="text" ng-model="vm.filePath" placeholder="C:\wwwroot\media\..." class="input-xlarge" />
          </div>
          <button class="btn btn-primary" ng-click="vm.lookupByPath()">Get EXIF</button>
        </div>
      </div>

      <div class="alert alert-danger" ng-if="vm.error">{{vm.error}}</div>

      <div ng-if="vm.data" style="margin-top:16px;">
        <h4>EXIF Data</h4>
        <table class="table table-condensed table-striped">
          <tbody>
            <tr ng-if="vm.data.camera"><th>Camera</th><td>{{vm.data.camera}}</td></tr>
            <tr ng-if="vm.data.lens"><th>Lens</th><td>{{vm.data.lens}}</td></tr>
            <tr ng-if="vm.data.dateTaken"><th>Date Taken</th><td>{{vm.data.dateTaken}}</td></tr>
            <tr ng-if="vm.data.exposureTime"><th>Exposure Time</th><td>{{vm.data.exposureTime}}</td></tr>
            <tr ng-if="vm.data.fNumber"><th>F-Number</th><td>{{vm.data.fNumber}}</td></tr>
            <tr ng-if="vm.data.iso"><th>ISO</th><td>{{vm.data.iso}}</td></tr>
            <tr ng-if="vm.data.width"><th>Width</th><td>{{vm.data.width}} px</td></tr>
            <tr ng-if="vm.data.height"><th>Height</th><td>{{vm.data.height}} px</td></tr>
            <tr ng-if="vm.data.gpsLatitude"><th>GPS Latitude</th><td>{{vm.data.gpsLatitude}}</td></tr>
            <tr ng-if="vm.data.gpsLongitude"><th>GPS Longitude</th><td>{{vm.data.gpsLongitude}}</td></tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
