<?xml version="1.0" encoding="utf-8"?>
<Content Key="63d157a3-1a03-483a-8b73-163bef644e19" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-04-04T22:19:34</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="777b16cf-87ee-47be-9c94-e484c71b1f2e">home</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[6704ae93-5630-4e3e-8731-3ace916e654c]]></Value>
    </form>
    <theme>
      <Value><![CDATA[bootstrap3-horizontal]]></Value>
    </theme>
  </Properties>
</Content>