<?xml version="1.0" encoding="utf-8"?>
<Media Key="439f59c1-f761-4dbc-83fa-08db93df30af" Alias="LogosMahindraIsuzu.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogosMahindraIsuzujpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-25T18:29:02</CreateDate>
    <NodeName Default="LogosMahindraIsuzu.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j0jnt3ii/logosmahindraisuzu.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>