<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60cc1ed9-5e1b-4c63-b903-320664a8add2" Alias="Single Form" Level="1">
  <Info>
    <Name>Single Form</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>