<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2ce54f0-df5e-41fb-a377-7925f9530457" Alias="Theme Picker" Level="1">
  <Info>
    <Name>Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.ThemePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>