@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Forum User Profile</title>
</head>
<body>
    <h1>Forum User Profile</h1>
    <main>
        @Html.Raw(Model.Value("bodyText"))
    </main>
</body>
</html>